[Desktop Entry]
Type=Application
Exec=hipchat
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=HipChat
Name=hipchat
Comment[en_US]=HipChat desktop client
Comment=HipChat desktop client
